[Desktop Entry]
Name=cylondeb
GenericName=cylondeb maintenance
Comment=Linux maintenance CLI program for Debian based distro
Exec=cylondeb
Icon=cylondebicon
Categories=System
Type=Application
Terminal=true
